<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container-fluid">
    <img src="https://i.postimg.cc/652svFLG/books-1.png"   alt="" width="45px" height="45px">
    <a class="navbar-brand active" routerLink="pre"> Book Store</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" style="color: black;" data-bs-toogle="collapse" data-bs-target="#navbarSupportedContent" routerLink="/home">Home <img src="https://i.postimg.cc/BnbCbGxd/home-1.png"   alt="" height="15px" width="15px">  </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" (click)="Logout()" style="color: black;" data-bs-toogle="collapse" data-bs-target=".navbar-collapse.show" routerLink="/login">LogOut  <img src="https://i.postimg.cc/52k5hkFb/edit.png"   alt="" height="23px" width="23px"></a>
        </li>
      </ul>
      
     
   
    
    </div>
  </div>
</nav>


<div class="container">
  <h1 style="text-align: center;"><i><b>Wishlist</b></i></h1>
    <div class="row">
        <div class="container">
            <div class="col-md-12 p-3" style="border-style: solid;" *ngFor="let obj of products; let i=index">
              <div class="col-md-4"><img [src]="obj.image" width="100%"></div>
              <div class="col-md-4">
                <ul>
                  <li><h1>Book Name : {{obj.bookname}}</h1></li>
                  <li>Author: {{obj.author}}</li>
                  <li>Publisher: {{obj.publisher}}</li>
                  <li>Publish Date: {{obj.publishdate}}</li>
                  <li>Rating: {{obj.rating}}</li>
                </ul>
              </div>
              <div class="col-md-4">
                <h2>Price: Rs.{{obj.price}}/-</h2>
                
              </div>
            </div>
          </div>
    </div>
</div>