<div class="row mt-5">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center" style="color: white;">
              <form class="form row g-3 " #formRef="ngForm" (ngSubmit)="onSubmit(formRef)">
                    
                     
                        <div class="form-group">
                            <label for="inputusername" class="form-label">Product Name</label>
                            <input type="text" class="form-control" id="inputproductname" name="productname" ngModel>
                        </div>
                        <div class="form-group" style="color:white;">
                            <label for="inputusername" class="form-label">Product Specifications</label>
                            <ul> <label for="inputusername" class="form-label">Product Ram</label></ul>
                            <ul style="list-style:square"> <input type="text" class="form-control" id="inputproductdetails" name="productRam" ngModel></ul>
                            <ul> <label for="inputusername" class="form-label">Product Memory</label></ul>
                            <ul style="list-style: none;"> <input type="text" class="form-control" id="inputproductdetails" name="productMemory" ngModel></ul>
                            <ul> <label for="inputusername" class="form-label">Product Screen Size</label></ul>
                            <ul style="list-style: none;"> <input type="text" class="form-control" id="inputproductdetails" name="productscreensize" ngModel></ul>
                            <ul> <label for="inputusername" class="form-label">Product details</label></ul>
                            <ul style="list-style: none;"> <input type="text" class="form-control" id="inputproductdetails" name="productdetails" ngModel></ul>
                        </div>
                        <div class="form-group">
                            <label for="inputusername" class="form-label">Product Price</label>
                            <input type="number" class="form-control" id="inputproductprice" name="productprice" ngModel>
                        </div>
                        <div class="form-group pt-5">
                            <label for="exampleFormControlFile1" class="d-block"><strong>Upload Picture Url():</strong></label>
                            <input type="text" class="form-control-file border-secondary" id="exampleFormControlFile1" name="photo1" ngModel >
                            
                          </div>

                          <div class="form-group">
                            <input type="file" class="formcontrol" (change)="incomingfile($event)" name="photo" accept='image/*' placeholder="Upload f
                            ile" >
                          </div>
             
                        <div class="col-6">
                            <button type="submit" class="btn btn-primary">Add Product</button>
                          </div>

                         
                     
              </form>
    </div>
    <div class="col-md-3"></div>
</div>
