<div class="container-fluid bg-primary"  >
  <a class="btn float-end m-2" routerLink="/home">back</a>
  <button class=" btn float-end m-2" (click)="goto()">Add Products</button>
  <a class="btn float-end m-2" style="text-decoration: none;" (click)="Logout()">Log Out</a>
</div>

    <div class="container bg-primary mt-2"  style="color: black;">
      <div class="row">
        <div class="col-sm-4 " style="padding-bottom: 20px;" *ngFor="let obj of courses; let i= index" >
          <div class="card mb-3"  style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-4">
                <img [src]="obj.image" class="card-img" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">{{obj.bookname}}</h5>
                  <p class="card-text">{{obj.author}}</p>
                  <p class="card-text">Rs.{{obj.price}}</p>
                  <a href="#" class="btn btn-primary m-2" [routerLink]="['/updateproduct/'+obj.bookId]">Edit</a>
                  <button class="btn btn-danger m-2" (click)="delete(obj,i)">Delete</button>
                </div>      
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div>
 
